.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 100vh;
  padding-bottom: 100px;
}

.App-header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.subtitle {
  font-size: 20px;
  font-weight:300;
  margin-top: 6px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  width: 60%;
  justify-content: center;
}

.search-bar .inputurl {
  background-color: #202226;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px;
  font-family: Inter;
  width: 300px;
  margin-right: 10px;
}

@media only screen and (max-width : 930px){
  .search-bar {
    width: 95%;
  }
  .search-bar .inputurl {
    width: 70%;
  }
  .url {
    word-wrap: break-word;
    max-width: 250px;
  }
  .nav {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  .App-header {
    margin-top: 0;
  }
}

.search-bar .inputurl::placeholder {
  font-family: Inter;
  font-size:medium;
  color: #999;
}

.search-bar .btn {
  color: #151618;
  font-family: Inter;
  font-weight: 600;
  display: flex;
  background-color: #C89AFE;
  padding: 10px;
  border: 2px solid #171717;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
}

.search-bar .btn:hover {
  background-color: #8d6cb3;
  color: white;
  transition: 1s;
}


.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #252830;
  border: 2px solid #1B68FF;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
  max-width: 600px;
  margin-top: 60px;
  border-radius: 15px;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}

.url {
  font-size: 12px;
  color: #999;
  text-decoration: underline;
}

.gist {
  font-weight: 300;
}

.action-buttons button {
  margin-right: 10px;
}

.read-full-btn {
  background-color: #00C39A;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  font-family: Inter;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}

.read-full-btn:hover {
  background-color: #279980;
  color:white;
  transition: 1s;
}

.save-btn {
  background-color: #4FA2FF;
  padding: 8px;
  border: 2px solid black;
  border-radius: 8px;
  font-family: Inter;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}

.save-btn:hover {
  background-color: #4079bb;
  color:white;
  transition: 1s;
}

/* NAV BAR */

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c2b39;
  padding: 5px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
 
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.navbar li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.navbar li a:hover{
  color: #999 ;
}
.navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #999;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.icon{
  padding: 0 10px;
  color: #999;

}

