.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 100vh;
}

.App-header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

.subtitle {
  font-size: 20px;
  font-weight:300;
  margin-top: 6px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  width: 60%;
  justify-content: center;
}

.search-bar input {
  background-color: #202226;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px;
  margin-right: 10px;
  font-family: Inter;
  width: 70%;
}

@media only screen and (max-width : 930px){
  .search-bar {
    width: 95%;
  }
  .search-bar input {
    width: 70%;
  }
}

.search-bar input::placeholder {
  font-family: Inter;
  font-size:medium;
  color: #999;
}

.search-bar button {
  color: #151618;
  font-family: Inter;
  font-weight: 600;
  display: flex;
  background-color: #C89AFE;
  padding: 7px;
  border: 2px solid #171717;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #252830;
  border: 2px solid #000000;
  margin-left: 25px;
  margin-right: 25px;
  padding: 20px;
  max-width: 500px;
  margin-top: 60px;
  border-radius: 15px;
}

.action-buttons button {
  margin-right: 5px;
}

/* NAV BAR */

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1c2b39;
  padding: 5px 80px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
 
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.navbar li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.navbar li a:hover{
  color: #999 ;
}
.navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #999;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.icon{
  padding: 0 10px;
  color: #999;

}
